<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <title>Login &middot; MVP Ready</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% include 'parts/stylesheets.html.twig' %}

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<div id="wrapper">

    {% include 'parts/navbar.html.twig' %}
    {% include 'parts/sidebar.html.twig' %}

    <div class="content-page">
        <div class="content">
            <div class="container">
                {% block body %}{% endblock %}
            </div> <!-- /.container -->
        </div> <!-- .content -->
    </div> <!-- /.content-page -->

</div> <!-- /#wrapper -->

{% include 'parts/javascripts.html.twig' %}

</body>
</html>