<div class="navbar navbar-default" role="navigation">

    <div class="container">

        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="{{ path('homepage') }}" class="navbar-brand navbar-brand-img">
                    <img src="/assets/images/logo.png" alt="MVP Ready">
                </a>
            </div>

            <button class="navbar-toggle pull-right" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-cog"></i>
            </button>
        </div><!-- /.navbar-header -->

        <div class="navbar-collapse collapse">

            <form class="navbar-form navbar-search-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control navbar-search-field" placeholder="Type here for search...">
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right">

                <li class="divider"></li>

                <li class="dropdown navbar-profile">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="javascript:;">
                        <img src="../../global/img/avatars/avatar-6-sm.jpg" class="navbar-profile-avatar" alt="">
                        <span class="visible-xs-inline">@peterlandt &nbsp;</span>
                        <i class="fa fa-caret-down"></i>
                    </a>

                    <ul class="dropdown-menu" role="menu">

                        <li>
                            <a href="./page-profile.html">
                                <i class="fa fa-user"></i>
                                &nbsp;&nbsp;My Profile
                            </a>
                        </li>

                        <li>
                            <a href="./page-pricing-plans.html">
                                <i class="fa fa-dollar"></i>
                                &nbsp;&nbsp;Plans &amp; Billing
                            </a>
                        </li>

                        <li>
                            <a href="./page-settings.html">
                                <i class="fa fa-cogs"></i>
                                &nbsp;&nbsp;Settings
                            </a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a href="./account-login.html">
                                <i class="fa fa-sign-out"></i>
                                &nbsp;&nbsp;Logout
                            </a>
                        </li>

                    </ul>

                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown navbar-notification">

                    <a href="./page-notifications.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                        <i class="fa fa-bell navbar-notification-icon"></i>
                        <span class="visible-xs-inline">&nbsp;Notifications</span>
                        <b class="badge badge-primary">3</b>
                    </a>

                    <div class="dropdown-menu">

                        <div class="dropdown-header">&nbsp;Notifications</div>

                        <div class="notification-list">

                            <a href="./page-notifications.html" class="notification">
                                <span class="notification-icon"><i class="fa fa-cloud-upload text-primary"></i></span>
                                <span class="notification-title">Notification Title</span>
                                <span class="notification-description">Praesent dictum nisl non est sagittis luctus.</span>
                                <span class="notification-time">20 minutes ago</span>
                            </a> <!-- / .notification -->

                            <a href="./page-notifications.html" class="notification">
                                <span class="notification-icon"><i class="fa fa-ban text-secondary"></i></span>
                                <span class="notification-title">Notification Title</span>
                                <span class="notification-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</span>
                                <span class="notification-time">20 minutes ago</span>
                            </a> <!-- / .notification -->

                            <a href="./page-notifications.html" class="notification">
                                <span class="notification-icon"><i class="fa fa-warning text-tertiary"></i></span>
                                <span class="notification-title">Storage Space Almost Full!</span>
                                <span class="notification-description">Praesent dictum nisl non est sagittis luctus.</span>
                                <span class="notification-time">20 minutes ago</span>
                            </a> <!-- / .notification -->

                            <a href="./page-notifications.html" class="notification">
                                <span class="notification-icon"><i class="fa fa-ban text-danger"></i></span>
                                <span class="notification-title">Sync Error</span>
                                <span class="notification-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</span>
                                <span class="notification-time">20 minutes ago</span>
                            </a> <!-- / .notification -->

                        </div> <!-- / .notification-list -->

                        <a href="./page-notifications.html" class="notification-link">View All Notifications</a>

                    </div> <!-- / .dropdown-menu -->

                </li>

                <li class="navbar-divider"></li><!-- /.navbar-divider -->

            </ul>

        </div>

    </div> <!--/.container -->

</div> <!--/.navbar -->